@use './abstracts/colors' as *;

.ideas{

    background-color: $secondary-blue;
    color: $primary-white;
    padding: 1rem;
    text-align: center;

    &--button{
        height: 31px;
        width: 164px;
        background-color: $secondary-yellow;
        border: 1px solid $secondary-yellow;
        border-radius: 5px;
        color: $secondary-blue;
        font-size: .85rem;
        font-weight: 900;
        letter-spacing: .125rem;
        margin-top: 3.5rem;
        transition: all .25s ease-in-out;

        &:hover{
            height: 40px;
            width:160px;
            background-color:$secondary-blue;
            border: 1px solid $secondary-yellow;
            border-radius: 5px;
            color: $secondary-yellow;
            transition: all .25s ease-in-out;
        }
    }
    &__heading{
        font-size: 3.375rem;
        margin-top: 5rem;
        margin-bottom: 1.25rem;
        font-weight: 900;
    }
}
@media (max-width: 425px){
    .ideas__heading{
        font-size: 29px;
        line-height: 1.65;
        font-weight: 900;
    }
}